version: "3.9" 

services: 
  frontend: 
    container_name: vite-react
    build: 
      context: ./services/frontend/ecom
      dockerfile: Dockerfile 
    ports: 
      - "5173:5173"
    volumes: 
      - ./services/frontend/ecom:/app
      - /app/node_modules 
    environment:
      - CHOKIDAR_USEPOLLING=true
    
  backend: 
    container_name: fastapi-backend
    build: 
      context: ./services/backend 
      dockerfile: Dockerfile 
    ports:
      - "8000:8000"
    volumes:
      - ./services/backend:/app
      - /app/__pycache__
    environment:
      - PYTHONUNBUFFERED=1
      - POSTGRES_USER: admin
      - POSTGRES_PASSWORD: root123
      - POSTGRES_DB: sales_db
    depends_on:
      - sales_db
  
    sales_db:
      image: postgres:16-alpine
      container_name: sales_db
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: root123
        POSTGRES_DB: sales_db
      ports:
        - "5432:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data
        - ./sql:/docker-entrypoint-initdb.d
      restart: unless-stopped
      networks:
      - sales_network

volumes: 
  pgdata: 
networks:
  sales_network:
    driver: bridge
    name: sales_network

