version: "3.9" 

services: 
  frontend: 
    container_name: vite-react
    build: 
      context: ./services/frontend/ecom
      dockerfile: Dockerfile 
    ports: 
      - "5173:5173"
    volumes: 
      - ./services/frontend/ecom:/app
      - /app/node_modules 
    environment:
      - CHOKIDAR_USEPOLLING=true
    
