{
    auto_https off
}

:80 {
    # backend
    handle /api/* {
        reverse_proxy backend:8000
    }

    # Backend API
    handle /docs* {
        reverse_proxy backend:8000
    }

    # Adminer
    handle /db* {
        reverse_proxy adminer:8080
    }

    # Frontend (par défaut)
    handle {
        reverse_proxy frontend:5173
    }

    # Logs
    log {
        output file /var/log/caddy/access.log
    }
}